<section>
  <nav class="navbar navbar-expand-lg navbar-light  bg-container">
    <div class="container-fluid">
      <div class="d-flex flex-row">
          <img src="assets/Images/logo.png" alt="EVOKE LOGO">
          <a class="logo">Test Automation</a>
       </div>
        <div class="offcanvas offcanvas-end bg-light" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body d-flex justify-content-end">
              <ul class="navbar-nav">
                <div class="d-lg-none smNav">
                      <li class="iconImg">
                        <svg xmlns="http://www.w3.org/2000/svg" width="66" height="66" viewBox="0 0 66 66" fill="none">
                          <g clip-path="url(#clip0_1444_144)">
                            <path d="M33 12.1761C26.6529 12.1761 21.4886 17.3399 21.4886 23.6875C21.4886 30.0346 26.6529 35.1984 33 35.1984C39.3471 35.1984 44.5114 30.0346 44.5114 23.6875C44.5114 17.3399 39.3471 12.1761 33 12.1761Z" fill="#B6B6B6"/>
                            <path d="M33 0C14.8036 0 0 14.8036 0 33C0 41.4192 3.17079 49.1103 8.3784 54.9468C9.49374 50.0494 12.0532 45.5809 15.7905 42.1C18.4135 39.6568 21.4825 37.8284 24.7999 36.6915C20.4895 33.9638 17.6214 29.1545 17.6214 23.6875C17.6214 15.2074 24.5204 8.30891 33 8.30891C41.4796 8.30891 48.3781 15.2074 48.3781 23.6875C48.3781 29.1519 45.5125 33.9597 41.2052 36.6879C44.7984 37.9186 48.0921 39.9619 50.857 42.7269C54.2353 46.1051 56.5677 50.3515 57.6191 54.9488C62.8287 49.1123 66 41.4202 66 33C66 14.8036 51.1964 0 33 0Z" fill="#B6B6B6"/>
                            <path d="M11.7435 58.2203C17.4899 63.0714 24.9086 66 33 66C41.0914 66 48.51 63.0709 54.2564 58.2203C53.7272 53.4125 51.5665 48.9053 48.1228 45.4616C44.0824 41.4212 38.7116 39.196 33 39.196C22.1215 39.196 12.9243 47.4949 11.7435 58.2203Z" fill="#B6B6B6"/>
                          </g>
                          <defs>
                            <clipPath id="clip0_1444_144">
                              <rect width="66" height="66" fill="white"/>
                            </clipPath>
                          </defs>
                        </svg>
                      </li>
                      <li class="userName">{{userName}}</li>
                      <li class="accountNumber">123456789101112</li>
                </div>
                  <li class="nav-item" id="smNavItem">
                    <a class="nav-link accountDetails" (click)="selectTab('Account Details')" [ngClass]="{activeTab:UserSelectTab=='Account Details'}" [routerLink]="'/accountDashboard'" data-bs-dismiss="offcanvas">Account Details</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link accountDetails" (click)="selectTab('Payments')" [ngClass]="{activeTab:UserSelectTab=='Payments'}" [routerLink]="'/paymentDashboard'" data-bs-dismiss="offcanvas">Payments</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link accountDetails"  (click)="selectTab('Fund Transfers')" [ngClass]="{activeTab:UserSelectTab=='Fund Transfers'}" [routerLink]="'/transferDashboard'" data-bs-dismiss="offcanvas">Fund Transfers</a>
                  </li>
                   <li class="nav-item dropdown dropstart">
                        <img src="assets/Images/dropdown-arrow.png" class="dropdown-toggle" data-bs-toggle="dropdown" alt="dropdown">
                        <ul class="dropdown-menu">
                          <li>
                            <button type="button" class="logBtn" routerLink="/">Logout</button>
                          </li>
                        </ul>
                  </li>
                  <li class="nav-item d-lg-none mt-auto mb-4">
                    <button class="btn logOutBtn" routerLink="/" id="logout" (click)="OnLogOut()">Logout</button>
                  </li>
                </ul>
            </div>
        </div>
      
        <button class="navbar-toggler d-md-none d-lg-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
          <img src="assets/Images/hamburger.png" class="hamburger-alignment" alt="Hamburger Icon" width="30" height="20">
      </button>
    </div>
</nav>
</section>

