<section>
  <nav class="navbar navbar-expand-lg navbar-light  bg-container">
    <div class="container-fluid">
      <div class="d-flex flex-row">
          <img src="assets/Images/logo.png" alt="EVOKE LOGO">
          <a class="logo">Test Automation</a>
       </div>
        <div class="offcanvas offcanvas-end bg-light" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body d-flex justify-content-end">
              <ul class="navbar-nav">
                <div class="d-lg-none smNav">
                      <li class="iconImg">
                        <img src="assets/Images/user-icon.png" alt="userIcon"> 
                      </li>
                      <li class="userName">{{userName}}</li>
                      <li class="accountNumber">123456789101112</li>
                </div>
                  <li class="nav-item" id="smNavItem">
                    <a class="nav-link accountDetails" (click)="selectTab('Account Details')" [ngClass]="{activeTab:UserSelectTab=='Account Details'}" [routerLink]="'/accountDashboard'" data-bs-dismiss="offcanvas">Account Details</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link accountDetails" (click)="selectTab('Payments')" [ngClass]="{activeTab:UserSelectTab=='Payments'}" [routerLink]="'/paymentDashboard'" data-bs-dismiss="offcanvas">Payments</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link accountDetails"  (click)="selectTab('Fund Transfers')" [ngClass]="{activeTab:UserSelectTab=='Fund Transfers'}" [routerLink]="'/transferDashboard'" data-bs-dismiss="offcanvas">Fund Transfers</a>
                  </li>
                   <li class="nav-item dropdown dropstart">
                        <img src="assets/Images/dropdown-arrow.png" class="dropdown-toggle" data-bs-toggle="dropdown" alt="dropdown">
                        <ul class="dropdown-menu">
                          <li>
                            <button type="button" class="logBtn" routerLink="/" (click)="OnLogOut()">Logout</button>
                          </li>
                        </ul>
                  </li>
                  <li class="nav-item d-lg-none mt-auto mb-4">
                    <button class="btn logOutBtn" routerLink="/" id="logout" (click)="OnLogOut()">Logout</button>
                  </li>
                </ul>
            </div>
        </div>
      
        <button class="navbar-toggler d-md-none d-lg-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
          <img src="assets/Images/hamburger.png" class="hamburger-alignment" alt="Hamburger Icon" width="30" height="20">
      </button>
    </div>
</nav>
</section>

