.nav-item {
    cursor: pointer;
    font-weight: 700;
  }


@media (max-width: 768px) {
  .nav-link {
    font-size: 9px !important;
  }

  .nav-link.active {
    font-size: 14px !important;
  }
}

@media (max-width:406px){
  .nav-link {
    font-size: 9px !important;
  }

  .nav-link.active {
    font-weight: bold !important;
  }
}