.payeeDetails{
    color: #082341;
    font-size: 18px;
    font-weight: 800;
    padding: 0px;
}
.btn-primary ,.btn-primary:active{
    border: 1px solid #453985 !important;
    background: #453985;
}
.payee-details{
    color: var(--Brand-Primary-Colors-Evoke-Blue-Evoke-Blue, #1B154C);
    font-size: 12px;
    font-weight: 700;
    line-height: 20px; 
    padding-left: 0px;
}
.payeeInputs{
    margin-bottom: 12px;
    padding-left: 0px;
}
.ifscCode{
   text-transform: uppercase;
}
.fixed-footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background: #f6f6f6; 
    z-index: 1000; 
    padding: 12px 10px;
}
.fixed-footer .row{
    margin: 0;
}
.fixed-footer .bottom-buttons {
    margin: 0;
}
.error-text{
    padding-left: 0px;
    text-align: start;
}
input.transferInputs {
    width: 216px ;
    height: 36px;
    flex-shrink: 0;
}
