.data {
  padding: 10px 30px 10px 10px;
  height: 26px;
  width: 26px;
}
#smDate{
  color: #494848;
  font-weight: 400;
  font-size: 14px;
  padding: 0px 18px 0px 0px;
}
#smMoney{
  font-size: 14px;
  font-weight: 700;
}
.eachName {
  color: #1f1f1f;
  font-size: 16px !important;
  font-weight: 700;
  word-wrap: break-word;
  word-break: break-all;
  white-space: normal;
}
.eachType {
  color: #494848;
  font-size: 14px;
  font-weight: 500;
  width: 150px;
  text-align: center;
}
.eachDesc {
  color: #494848;
  font-size: 14px;
  font-weight: 500;
  word-wrap: break-word;
  word-break: break-all;
  white-space: normal;
}
.userData{    
  padding: 5px;
}
.smuserDate{
  color: #082341;
  font-size: 12px;
  font-weight: 700;
} 
.smuserTrans{
  font-size: 10px;
  font-weight: 500;
  color: #494848;
  padding-top: 4px;
  word-wrap: break-word;
  word-break: break-all;
  white-space: normal;
}
.smAmount{
  font-size: 14px;
  font-weight: 700;
  padding-left: 40px;
}  
.smCredit{
  padding-top: 2px;
  font-size: 10px;
}
.userAmount{
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
} 
.eachTotamount {
  color: #082341;
  font-size: 14px;
  font-weight: 700;
  width: 100px;
  text-align: end;
}
@media (max-width: 768px) {
  #smDate{
    color: #363636;
    font-size: 12px;
    font-weight: 700;
  }
  .eachDesc{
    color: #494848;
    font-size: 10px;
    font-weight: 500;
    padding: 18px;
    word-wrap: break-word;
    word-break: break-all;
    white-space: normal;
  }
}  

/* .dropdown{
  width: 15em;
  margin: 2em;
  box-sizing: border-box;
}

.select{
  background: #2a2f3b;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px #2a2f3b solid;
  border-radius: 0.5em;
  padding: 1em;
  cursor: pointer;
  transition: background 0.3s;
}

.select-clicked{
  border: 2px #26489a solid;
  box-shadow: 0 0 0.8em #26489a;
}

.select:hover{
  background: #323741;
}

.caret{
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #fff;
  transition: 0.3s;
}

.caret-rotate{
  transform: rotate(180deg);
}

.menu{
  list-style: none;
  padding: 0.2em 0.5em;
  background: #323741;
  border: 1px #363a43 solid;
  box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
  border-radius: 0.5em;
  color: #9fa5b5;
  position: absolute;
  top:3em;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  display: none;
  transition: 0.2s;
  z-index: 1;
  width: 100%;
}

.menu li{
  padding: 0.7em 0.5em;
  margin: 0.3em 0;
  width: 100%;
  border-radius: 0.5em;
  cursor: pointer;
}

.menu li:hover{
  background: #2a2d35;
}

.active{
  background: #23242a;
}

.menu-open{
  display: block;
  opacity: 1;
} */

  

  

  
  
  



  

  