*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }
  .sucImg{
    width: 400px;
    height: 280px;
  }
  .congratsText {
      color: #082341;
      font-size: 40px;
      font-weight: 800;
  }
  .transText {
      color: #2d455f;
      text-align: center;
      font-size: 20px;
      font-weight: 800;
      line-height: 28px;
      margin-top: 0.50rem;
  }
  .dashBoardBtn {
      color: white;
      background: #1B154C;
      text-align: center;
      border-radius: 4px;
      font-size: 14px;
      font-weight: 700;
      letter-spacing: 0.56px;
      padding: 10px 50px 10px 50px;
      margin-top: 1rem;
  }

  @media (max-width: 798px) {
    .sucImg{
        width: 345px;
        height: 218px;
        flex-shrink: 0;
      }
    .transText {
        color: #2d455f;
        text-align: center;
        font-size: 14px;
        font-weight: 800;
        line-height: 24px;
        margin-top: 1.5rem;
        padding: 10px; 
    }
    .congratsText {
        color: #082341;
        font-size: 25px;
        font-weight: 800;
        margin-top: 3rem;
    }
    .dashBoardBtn {
        color: white;
        background: #1B154C;
        text-align: center;
        font-size: 12px;
        padding: 5px 30px 5px 30px;
        margin-top: 2rem;
    }

}

  

    