<div class="container-fluid">
    <app-navbar></app-navbar>
    <div class="text-center mt-2 transfer-content">
        <img src="assets/Images/successImage.png" alt="WorkDone" class="sucImg">
        <span class="congratsText">Congratulations !!</span>
        <div class="col-lg-3 col-2"></div>
        <div class="col-lg-5 col-8 transfer">
            @for (data of paymentData; track $index) {
                <p class="transText">Transaction amount  Rs.{{data.amount}}/- in the mode of {{data.paymentModeInput}} for the payee {{data.payee}} has been success</p>
            }
        </div>
        <div class="col-lg-3 col-2"></div>
        <button class="dashBoardBtn mt-auto" routerLink="/dashboard">Go back to Dashboard</button>
    </div>
</div>



