<div class="container-fluid mb-5">
    <app-navbar></app-navbar>
    <main class="mainScreen text-center mt-2">
        <img src="assets/Work_6 1.png" alt="WorkDone" class="img-fluid">
        <p class="congratsText">Congratulations !!</p>
        <div class="d-flex justify-content-center flex-wrap">
            @for (data of paymentData; track $index) {
                <p class="transText">Transaction amount  ₹{{data.amount}}/- in the mode of {{data.paymentModeInput}} for the payee {{data.payee}} has been success</p>
            }
        </div>
        <button class="dashBoardBtn" routerLink="/dashboard">Go back to Dashboard</button>
    </main>
</div>



