<div class="container-fluid">
  <div class="row">
    <div class="col-md-5 left-content">
      <!-- @if(validUser){
        <p class=" vaidUser text-center">{{regData}}</p>
      } -->
      <h2 class="welcome-text">Welcome.!</h2>
      <form #formElement [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="firstName" class="lable-name">First Name<span class="text-danger">*</span></label>
              <input type="text" id="firstName" class="form-control mt-1" formControlName="firstName" placeholder="FirstName" minlength="3" maxlength="10"/>
              @if (registrationForm.get('firstName')?.hasError('required') && registrationForm.get('firstName')?.touched) {
                 <span class="error-text">First Name is required.</span>
              } @if (registrationForm.get('firstName')?.hasError('pattern') || registrationForm.get('firstName')?.hasError('minlength')) {
                 <span class="error-text">First Name must be alphabetic and altleast 3 characters.</span>
              }
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="lastName" class="lable-name">Last Name<span class="text-danger">*</span></label>
              <input type="text" id="lastName" class="form-control mt-1" formControlName="lastName" placeholder="LastName" minlength="3" maxlength="10"/>
              @if (registrationForm.get('lastName')?.hasError('required') && registrationForm.get('lastName')?.touched) {
                  <span class="error-text">Last Name is required.</span>
              } @if (registrationForm.get('lastName')?.hasError('pattern') || registrationForm.get('lastName')?.hasError('minlength')) {
                  <span class="error-text">
                     Last Name must be alphabetic and atleast 3 characters.
                  </span>
              }
            </div>
          </div>
        </div>
        <div class="form-group mt-3">
          <label for="email" class="lable-name">Email ID<span class="text-danger">*</span></label>
          <input type="email" id="email" class="form-control mt-1" formControlName="email" placeholder="Email"/>
          @if (registrationForm.get('email')?.hasError('required') && registrationForm.get('email')?.touched) {
            <span class="error-text">Email is required.</span>
          } @if (registrationForm.get('email')?.hasError('pattern')) {
             <span class="error-text">Invalid Email Format</span>
          }
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group mt-3">
              <label for="phoneNumber" class="lable-name">Phone Number<span class="text-danger">*</span></label>
              <input type="tel" id="phoneNumber" class="form-control mt-1" formControlName="phoneNumber" placeholder="PhoneNumber" maxlength="10" (keypress)="onKeyPress($event)"/>
              @if (registrationForm.get('phoneNumber')?.hasError('required') && registrationForm.get('phoneNumber')?.touched) {
                <span class="error-text">Phone number is required.</span>
              } @if (registrationForm.get('phoneNumber')?.hasError('pattern') || registrationForm.get('phoneNumber')?.hasError('minlength')) {
                <span class="error-text">Enter valid phone number</span>
              }
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group mt-3">
              <label for="dob" class="lable-name">Date of Birth<span class="text-danger">*</span></label>
              <input type="date" id="dob" class="form-control mt-1" formControlName="dob" placeholder="Date of Birth" [max]="maxDate"/>
              @if (registrationForm.get('dob')?.hasError('required') && registrationForm.get('dob')?.touched) {
                 <span class="error-text">Date of Birth is required</span>
              }
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-6">
            <div class="form-group">
              <label for="country" class="lable-name">Country:</label>
              <select id="country" class="form-select mt-1" formControlName="country">
                @for (country of countries; track country){
                  <option [value]="country">{{ country }}</option>
                }
              </select>
              @if (registrationForm.get('country')?.hasError('required') && registrationForm.get('country')?.touched) {
                <span class="error-text">Please select a country</span>
              }
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="state" class="lable-name">State:</label>
              <select id="state" class="form-select mt-1" formControlName="state">
                @for (state of states; track state){
                <option [value]="state">{{ state }}</option>
                }
              </select>
            </div>
            @if (registrationForm.get('state')?.hasError('required') && registrationForm.get('state')?.touched) {
               <span class="error-text">Please select a state</span>
            }
          </div>
        </div>
        <div class="form-group mt-3">
          <label for="address" class="lable-name">Address<span class="text-danger">*</span></label>
          <input type="text" id="address" class="form-control mt-1" formControlName="address"/>
          @if (registrationForm.get('address')?.hasError('required') && registrationForm.get('address')?.touched) {
             <span class="error-text">Address is required</span>
          } @if (registrationForm.get('address')?.hasError('pattern')) {
            <span class="error-text">Enter Valid Address</span>
          }
        </div>
        <div class="row mt-3">
          <div class="col-md-6">
            <div class="form-group">
              <label for="password" class="form-label lable-name">Password<span class="text-danger">*</span></label>
              <input type="password" class="form-control mt-1" id="password" formControlName="password" placeholder="Password" aria-autocomplete="list"/>
              @if (registrationForm.get('password')?.hasError('required') && registrationForm.get('password')?.touched) {
                <span class="error-text">Password is required</span>
              } @if (registrationForm.get('password')?.hasError('pattern')) {
               <span class="error-text">Password must be at least 8 characters long and contain at least one letter and one number.</span>
              }
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="confirmPassword" class="form-label lable-name">Confirm Password<span class="text-danger">*</span></label>
              <input type="password" class="form-control mt-1" id="confirmPassword" formControlName="confirmPassword" placeholder="ConfirmPassword" aria-autocomplete="list"/>
              @if (registrationForm.hasError('mismatch')) {
                <span class="error-text">Passwords do not match.</span>
              } @if(registrationForm.get('confirmPassword')?.hasError('required') && registrationForm.get('confirmPassword')?.touched) {
                <span class="error-text">Confirmation password is required.</span>
              }
            </div>
          </div>
        </div>
        <div class="d-grid gap-2 register-btn">
          <button type="submit" class="btn btn-primary" [disabled]="registrationForm.invalid" [ngClass]="{'btn-enabled': !registrationForm.invalid, 'btn-disabled': registrationForm.invalid}"> Register </button>
        </div>
        <div class="text-content">
          <span>Already had an account ? <a aria-current="page" class="login-here" routerLink="/" id="login">Login Here</a></span>
        </div>
      </form>
      
        @if(validUser){
          <div class="modal">
            <div class="modal-content">
              <p class="text-center">{{ regData }}</p>
            </div>
        </div>
        }
        
     
    </div>
    <div class="col-md-7 ps-4">
      <img class="d-none d-sm-block reg-image" [src]="imagePath" alt="Description"/>
    </div>
  </div>
</div>
