
.container-fluid{
  overflow-x: hidden !important;
}
.reg-image{
  height: 100%;
  width: 100%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.lable-name{
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 142.857% */
}
.login-here{
  color: var(--Brand-Primary-Colors-Evoke-Blue-Evoke-Blue, #1B154C);
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-decoration: none;
}
.register-btn{
  margin-top: 60px;
}
.vaidUser{
  color: green;
}
/* Modal styling */
.modal {
  display: block; /* Show the modal */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  position: relative;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
  max-width: 600px; /* Limit the width */
  background-color: white;
  color: green;
  top: 30%;
  transform: translateY(-50%);
}

@media screen and (min-width: 360px) and (max-width: 576px){
.left-content{
  padding: 20px;
}
}