<div class="container-fluid">
    <div class="card">
          <div class="card-header">
               Transfer Money to Anyone, Anywhere
          </div>
          <div>
            <form [formGroup]="moneyTransferForm">
                            <div class="row">
                                    <div class="col-lg-2 col-sm-5 col-md-5 col-4">
                                        <label class="sub-text">From</label>
                                    </div>
                                    <div class="col-lg-6 col-sm-6 col-md-6 col-8 ms-lg-5">
                                        <p class="savingsAccNumber">Savings - 12345678910111213</p>
                                        <p class="balance">Balance - {{availBalance | currency:"INR"}}</p>
                                    </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-2 col-sm-5 col-md-5 col-4">
                                    <label class="sub-text">To<span class="text-danger">*</span></label>
                                </div>
                                <div class="col-lg-9 col-md-7 col-sm-7 ms-lg-5 col-8">
                                        <div class="row">
                                            <div class="col-lg-4 col-md-8">
                                                <select class="transferInputs" formControlName="payee" required>
                                                    @for (payee of payeeNames; track $index) {
                                                        <option [value]="payee">{{payee}}</option>
                                                    }
                                                </select>
                                                <div>
                                                    @if (payeeName) {
                                                        <p class="text-danger">Please Select Payee</p>
                                                    }
                                                </div>
                                            </div>
                                            <div class="col-lg-2">
                                                <p class="or d-none d-lg-block">or</p>
                                            </div>
                                            <div class="col-lg-4">
                                                <button class="addPayeeBtn cancelAndSaveBtn d-none d-lg-block" (click)="openAddpayeePopup(copyContent)">ADD PAYEE</button>
                                            </div>
                                        </div>
                                    </div>
                                <ng-template #copyContent let-modal>
                                    <app-addpayee></app-addpayee>
                                </ng-template>
                           </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <div class="row form-group mt-3">
                                    <div class="col-lg-4 col-md-5 col-sm-5 col-4">
                                        <label class="sub-text">Account Number<span class="text-danger">*</span></label>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-8 ms-lg-5">
                                        <input type="text" placeholder="Enter Account Number" class="transferInputs" formControlName="accountNumber" maxlength="18" (keypress)="onKeyPress($event)">
                                    </div>
                                    <div class="text-danger">
                                        @if (moneyTransferForm.get('accountNumber')?.hasError('required') && moneyTransferForm.get('accountNumber')?.touched) {
                                            <p class="error-msg">Please Enter Account Number</p>
                                        }
                                    </div>
                                    <div class="text-danger">
                                        @if (moneyTransferForm.get('accountNumber')?.hasError('pattern') || moneyTransferForm.get('accountNumber')?.hasError('minlength')) {
                                            <p class="error-msg">Account Number must be atleast 8 characters</p>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <div class="row form-group mt-3">
                                   <div class="col-lg-5 col-md-5 col-sm-5 col-4">
                                        <label class="bold-text">Re-Enter Account Number<span class="text-danger">*</span></label>
                                   </div>
                                  <div class="col-lg-6 col-md-6 col-sm-6 col-8">
                                    <input type="text" class="transferInputs reAccNoAndRemarks" placeholder="Enter Account Number" formControlName="reEnterAccountNo" required maxlength="18" (keypress)="onKeyPress($event)">
                                </div>
                                <div class="text-danger">
                                    @if (moneyTransferForm.get('reEnterAccountNo')?.hasError('required') && moneyTransferForm.get('reEnterAccountNo')?.touched) {
                                        <p class="error-msg"> Please Enter Account Number</p>
                                    }    
                                </div>
                                <div class="text-danger">
                                    @if (moneyTransferForm.hasError('mismatch') && moneyTransferForm.get('reEnterAccountNo')?.touched) {
                                        <p class="error-msg"> Account Number do not match.</p>
                                    }
                                </div>
                                 
                                </div>
                            </div>
                        </div>
    
                    <div>
                        <p class="transaction">Transaction Details</p>
                        <div class="row">
                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <div class="row form-group">
                                    <div class="col-lg-5 col-md-5 col-sm-5 col-4">
                                        <label class="sub-text">Enter the Amount<span class="text-danger">*</span></label>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-7 col-8">
                                        <input type="text" placeholder="Enter Amount" class="transferInputs accAndAmount" formControlName="amount" required (keypress)="onKeyPress($event)" maxlength="5">
                                    </div>
                                </div>
                                <div>
                                    @if (moneyTransferForm.get('amount')?.hasError('required') && moneyTransferForm.get('amount')?.touched) {
                                        <p class="error-msg">Please Enter Amount</p>
                                    }
                                    
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <div class="row form-group mt-3 mt-lg-0">
                                    <div class="col-lg-5 col-md-5 col-sm-5 col-4">
                                        <label class="bold-text">Remarks for transaction<span class="text-danger">*</span></label>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-sm-7 col-8">
                                        <input type="text" placeholder="Please write here" class="transferInputs reAccNoAndRemarks" formControlName="remarks"  maxlength="10">
                                    </div>
                                    <div>
                                        @if (moneyTransferForm.get('remarks')?.hasError('required') && moneyTransferForm.get('remarks')?.touched) {
                                            <p class="error-msg">Please Enter Remarks</p>
                                        }
                                    </div>
                                </div>
                               
                            </div>
                        </div>
                    </div>
    
                    <div>
                        <p class="transaction">Payment Mode</p>
                        <div class="row">
                            <div class="col-lg-3 col-md-5 col-sm-5 col-4">
                                <p class="sub-text">Select the Payment Mode<span class="text-danger">*</span></p>
                            </div>
                            <div class="col-lg-9 col-md-7 col-sm-7 col-8 d-lg-none d-block">
                                <select class="transferInputs" [formControlName]="isMediumOrSmallScreen ? 'payeeMedium' : 'payeeSmall'" (change)="onPaymentModeChange($event)" required>
                                    @for(data of paymentModeData;track $index){
                                        <option [value]="data.paymentMode">{{data.paymentMode}}</option>
                                    }
                                    <p>{{selectedPaymentModeLimit}}</p>
                                </select>
                               
                            </div>
                            <div class="col-lg-9 d-none d-lg-block">
                                <div class="row">
                                    <div class="col-lg-3 paymentMode p-2 ps-3">
                                        <div class="d-flex flex-row">
                                            <input type="radio" name="paymentModeInput" class="form-check-input" formControlName="paymentModeInput" value="IMPS">
                                             <label class="paymentModeLabel">IMPS</label>
                                        </div>
                                        <p class="instantTransfer pt-3">Max Rs. 50,000 per day. Instant transfer 24*7
                                            transferable</p>
                                    </div>
                                    <div class="col-lg-3 paymentMode p-2 ps-3">
                                        <div class="d-flex flex-row">
                                            <input type="radio" name="paymentModeInput" class="form-check-input" formControlName="paymentModeInput" value="NEFT">
                                             <label class="paymentModeLabel">NEFT</label>
                                        </div>
                                        <p class="instantTransfer pt-3">Max Rs. 1,00,000 Lakh per day. Receiver gets money in
                                            2 to 24 Hrs</p>
                                    </div>
                                    <div class="col-lg-3 paymentMode p-2 ps-3">
                                        <div class="d-flex flex-row">
                                            <input type="radio" name="paymentModeInput" class="form-check-input" formControlName="paymentModeInput" value="RTGS">
                                             <label class="paymentModeLabel">RTGS</label>
                                        </div>
                                        <p class="instantTransfer pt-3">Min Rs. 75,000, Max Rs. 10 Lakh per day. Real time
                                            transaction.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="row mt-4 mb-4">
                        <div class="col-lg-12 col-md-12 col-sm-12" style="text-align: center;">
                            <button class="cancelAndSaveBtn me-2 d-none d-lg-inline-block" routerLink="/dashboard" id="back">Back</button>
                            <button class="cancelAndSaveBtn ms-3" (click)="onCancel()" id="cancel">cancel</button>
                            <button type="submit" id="send" class="btn btn-primary cancelAndSaveBtn saveBtn" [disabled]="moneyTransferForm.invalid" (click)="onSubmit(moneyTransferForm.value)">Send</button>
                        </div>
                    </div>
            </form>
           
          </div>
    </div>
</div> 


  

