<div class="container-fluid">
    <div class="card select-mobile">
          <div class="card-header">
               Transfer Money to Anyone, Anywhere
          </div>
          <div>
            <form [formGroup]="moneyTransferForm">
                            <div class="row col-lg-6">
                                    <div class="col-lg-5 col-sm-5 col-md-5 d-none d-lg-block">
                                        <label class="sub-text">From</label>
                                    </div>
                                    <div class="col-lg-7 col-sm-6 col-md-6 d-none d-lg-block mb-4 ft-left">
                                       <div>
                                           <span class="savingsAccNumber">Savings Account : 12345678910111213</span>
                                       </div>
                                        <div>
                                            <span class="balance">Balance : {{availBalance | currency:"INR"}}</span>
                                        </div>
                                    </div>
                            </div>
                            <div class="row col-lg-6">
                                <div class="col-lg-5 col-sm-5 col-md-5 col-5">
                                    <label class="sub-text">To<span class="text-danger">*</span></label>
                                </div>
                                <div class="col-lg-7 col-md-7 col-sm-7 col-7 pd-default">
                                        <div class="row">
                                                <div class="ft-left text">
                                                    <select class="transferInputs dropdown-image " formControlName="payee" required>
                                                        @for (payee of payeeNames; track $index) {
                                                            <option>{{payee}}</option>
                                                        }
                                                    </select>
                                                    <div class="d-sm-block d-md-block d-lg-none">
                                                        <a class="addPayeesm" routerLink="/addpayeesm">Add new Payee</a>
                                                    </div>
                                                    <div class="d-none d-lg-block">
                                                        <a class="addPayeelg" (click)="openAddpayeePopup(copyContent)">Add new Payee</a>
                                                    </div>
                                                </div>
                                        </div>
                                    </div>
                                <ng-template #copyContent let-modal>
                                    <app-addpayee></app-addpayee>
                                </ng-template>
                           </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                                <div class="row form-group mt-3">
                                    <div class="col-lg-5 col-md-5 col-sm-5 col-5">
                                        <label class="sub-text">Account Number<span class="text-danger">*</span></label>
                                    </div>
                                    <div class="col-lg-7 col-md-6 col-sm-6 col-7 pd-default">
                                            <input type="text" placeholder="Enter Account Number" class="transferInputs" value="200" formControlName="accountNumber" maxlength="18" (keypress)="onKeyPress($event)">
                                            <div class="text-danger"> 
                                                @if (moneyTransferForm.get('accountNumber')?.hasError('required') && moneyTransferForm.get('accountNumber')?.touched) {
                                                    <p class="error-text">Please Enter Account Number</p>
                                                }
                                            </div>
                                            <div class="text-danger">
                                                @if (moneyTransferForm.get('accountNumber')?.hasError('pattern') || moneyTransferForm.get('accountNumber')?.hasError('minlength')) {
                                                    <p class="error-text">Account Number must be atleast 8 characters</p>
                                                }
                                            </div>
                                        </div>
                                    </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                                <div class="row form-group mt-3">
                                   <div class="col-lg-3 col-md-5 col-sm-5 col-5">
                                        <label class="side-text">Bank Name<span class="text-danger">*</span></label>
                                   </div>
                                  <div class="col-lg-9 col-md-6 col-sm-6 col-7 pd-default">
                                    <input type="text" class="transferInputs" placeholder="Enter Bank Name" formControlName="bankName" required minlength="3" maxlength="20">
                                    <div class="text-danger">
                                        @if (moneyTransferForm.get('bankName')?.hasError('required') && moneyTransferForm.get('bankName')?.touched) {
                                            <p class="error-text"> Please Enter Bank Name</p>
                                        }    
                                    </div>
                                    <div class="text-danger">
                                        @if (moneyTransferForm.get('bankName')?.hasError('pattern') || moneyTransferForm.get('bankName')?.hasError('minlength')) {
                                            <p class="error-text">Bank Name must be alphabetical and should contain atleast 3 characters</p>
                                        }
                                    </div>
                                   </div>
                                   
                              </div>
                            </div>
                        </div>
                    <div>
                        <p class="transaction">Transaction Details</p>
                        <div class="row">
                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <div class="row form-group">
                                    <div class="col-lg-5 col-md-5 col-sm-5 col-5">
                                        <label class="sub-text">Enter the Amount<span class="text-danger">*</span></label>
                                    </div>
                                    <div class="col-lg-7 col-md-6 col-sm-7 col-7 pd-default">
                                        <input type="text" placeholder="Enter Amount" class="transferInputs" formControlName="amount" required (keypress)="onKeyPress($event)" maxlength="5">
                                        <div>
                                            @if (moneyTransferForm.get('amount')?.hasError('required') && moneyTransferForm.get('amount')?.touched) {
                                                <p class="error-text">Please Enter Amount</p>
                                            }
                                        </div>
                                    </div>
                                </div>
                               
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <div class="row form-group mt-3 mt-lg-0">
                                    <div class="col-lg-3 col-md-5 col-sm-5 col-5">
                                        <label class="side-text">Enter Remarks<span class="text-danger">*</span></label>
                                    </div>
                                    <div class="col-lg-9 col-md-6 col-sm-7 col-7 pd-default">
                                        <input type="text" placeholder="Enter Remarks" class="transferInputs" formControlName="remarks"  maxlength="10">
                                        <div>
                                            @if (moneyTransferForm.get('remarks')?.hasError('required') && moneyTransferForm.get('remarks')?.touched) {
                                                <p class="error-text">Please Enter Remarks</p>
                                            }
                                        </div>
                                    </div>
                                </div>
                             </div>
                        </div>
                    </div>
    
                    <div>
                        <p class="transaction">Select the payment mode</p>
                        <div class="row">
                            <div class="col-lg-2 col-4">
                                <label class="sub-text">Payment Mode<span class="text-danger">*</span></label>
                            </div>
                            <div class="col-lg-10 col-7">
                                <div class="row pd-left">
                                    <div class="paymentMode">
                                          <input type="radio" name="paymentModeInput" class="form-check-input" formControlName="paymentModeInput" value="IMPS">
                                           <label class="paymentModeLabel">IMPS</label>
                                           <p class="instantTransfer">Max Rs. 50,000 per day. Instant transfer 24*7
                                               transferable</p>
                                    </div>
                                    <div class="paymentMode">
                                          <input type="radio" name="paymentModeInput" class="form-check-input" formControlName="paymentModeInput" value="NEFT">
                                           <label class="paymentModeLabel">NEFT</label>
                                            <p class="instantTransfer">Max Rs. 1,00,000 Lakh per day. Receiver gets money in
                                                2 to 24 Hrs</p>
                                    </div>
                                    <div class="paymentMode">
                                            <input type="radio" name="paymentModeInput" class="form-check-input" formControlName="paymentModeInput" value="RTGS">
                                             <label class="paymentModeLabel">RTGS</label>
                                            <p class="instantTransfer">Min Rs. 75,000, Max Rs. 10 Lakh per day. Real time
                                            transaction.</p>
                                    </div>
                                </div>
                                 <div class="d-lg-none d-sm-block d-md-block d-flex flex-row justify-content-between">
                                       @for(data of paymentModeData;track $index){
                                        <div class="payModessm">
                                            <input type="radio" class="form-check-input" formControlName="paymentModeInput" name="paymentModeInput" (click)="check(data)" value="{{data.label}}">
                                            <label class="paymentModeLabel">{{data.label}}</label>
                                        </div>
                                        }
                                   </div>
                                   <div>
                                    <p class="transferFund d-lg-none">{{paymentChoosed}}</p>
                                  </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col bottom-buttons">
                            <button class="cancelAndSaveBtn backbtn" routerLink="/dashboard" id="back">Back</button>
                            <button class="cancelAndSaveBtn" (click)="onCancel()" id="cancel">cancel</button>
                            <button type="submit" id="send" class="btn btn-primary cancelAndSaveBtn saveBtn" [disabled]="moneyTransferForm.invalid" (click)="onSubmit(moneyTransferForm.value)" [ngClass]="{'btn-enabled': !moneyTransferForm.invalid, 'btn-disabled': moneyTransferForm.invalid}">Send</button>
                        </div>
                    </div>
            </form>
           
          </div>
    </div>
</div> 


  

