<div class="card mb-3 cd-radius cursor">
	<div class="row g-0">
		<div class="col-md-5 col-6 pay-sty text-center">
			<img src="assets/Images/payment.png" class="img-fluid rounded-start" alt="Payments" style="max-height: fit-content;">
			<span class="account-style d-block pt-3">Payments</span>
		</div>
		<div class="col-md-7 col-6">
			<div class="card-body text-color" id="card-inside-text">
				<ul class="dashboard-cards">
					<li class="card-text li-styles" id="paybills">Pay Bills</li>
					<li  class="card-text li-styles" id="recharge">Recharge</li>
					<li class="card-text li-styles" id="billsHistory">Billing History</li>
					<li class="card-text li-styles" id="mytransactions">My Transactions</li>
				</ul>
			</div>
		</div>
	</div>
</div>
