<div class="card mb-3 cd-radius cursor">
	<div class="row g-0">
		<div class="col-md-5 col-6 pay-sty text-center">
			<img src="assets/payment-icon.svg" class="img-fluid rounded-start mt-4" alt="Payments" style="max-height: fit-content;">
			<p class="account-style mt-3">Payments</p>
		</div>
		<div class="col-md-7 col-6">
			<div class="card-body text-color" id="card-inside-text">
				<ul>
					<li class="card-text" id="paybills">Pay Bills</li>
					<li  class="card-text" id="recharge">Recharge</li>
					<li class="card-text" id="billsHistory">Billing History</li>
					<li class="card-text" id="mytransactions">My Transactions</li>
				</ul>
			</div>
		</div>
	</div>
</div>
