.bg-container{
    height: auto;
    margin: 8px 8px 16px 8px;
    border: 1px solid #D1CFCF;
}

.wholeSummary{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
}

.account-item{
    display: flex;
    gap: 90px;
    justify-content: space-between;
}

@media screen and (max-width:576px) {
    .wholeSummary{
        display: flex;
        flex-direction: column;
    }
    .account-item{
        gap:5px ;
        padding-bottom: 10px;
    }
}





