*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }
  .sucImg{
    width: 400px;
    height: 270px;
  }
  .transfer{
    word-wrap: break-word;
    white-space: normal;
  }
  .congratsText {
      color: #082341;
      font-size: 40px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
  }
   .transfer-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .transText {
      color: #2d455f;
      text-align: center;
      font-size: 20px;
      font-style: normal;
      font-weight: 800;
      line-height: 28px; 
      margin-top: 0.25rem;
      padding:1rem; 
  }
  .dashBoardBtn {
    color: white;
    background: #1B154C;
    text-align: center;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.56px;
    padding: 10px 50px 10px 50px;
    margin-top: 10px !important;
}
@media (max-width: 576px) {
    .sucImg{
        width: 345px;
        height: 218px;
        flex-shrink: 0;
        margin-top: 60px;
      }
    .transText {
        color: #2d455f;
        text-align: center;
        font-size: 14px;
        font-weight: 800;
        line-height: 24px; 
    }
    .congratsText {
        color: #082341;
        font-size: 25px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        margin-top: 3rem;
    }
    .dashBoardBtn {
        font-size: 12px;
        padding: 5px 30px 5px 30px;
    }
}
    