
<div class="container-fluid">
    @if (!recharge) {
        <app-navbar></app-navbar>
    <div class="text-center mt-2 transfer-content">
        <img src="assets/Images/successImage.png" alt="WorkDone" class="sucImg">
        <p class="congratsText">Congratulations !!</p>
        <div class="col-lg-3 col-2"></div>
        <div class="col-lg-5 col-8 transfer">
            @for(data of selectBillerPayment;track data.id ){
                <p class="transText">Transaction amount  ₹{{data.billDetailsAmount}}/- for {{data.billerType}} has been success</p>
            }
        </div>
        <div class="col-lg-3 col-2"></div>
        <button class="dashBoardBtn" routerLink="/dashboard">Go back to Dashboard</button>
    </div>
    }
</div>

<div class="container-fluid">
    @if (recharge) {
        <app-navbar></app-navbar>
    <div class="transfer-content text-center mt-2">
        <img src="assets/Images/successImage.png" alt="WorkDone" class="sucImg">
        <span class="congratsText">Congratulations !!</span>
        <div class="col-lg-3 col-2"></div>
        <div class="col-lg-5 col-8 transfer">
            @for(data of mobileRechargePayment;track data.id){
                <span class="transText">{{data.networkProvider}} Plan of ₹{{data.amount}}/- for Mobile Number {{data.mobileNumber}} has been success</span>
            }
        </div>
        <div class="col-lg-3 col-2"></div>
        <button class="dashBoardBtn" routerLink="/dashboard">Go back to Dashboard</button>
    </div>
    }
</div>
