.hide{
    padding-right: 50px;
 }
 .show{
     padding-left: 10px;
 }
 .checkbox{
     width: 40px;
     height: 20px;
     flex-shrink: 0;
     border-radius: 20px;
     background-color: #082341;
 }
 .checkbox:not(:checked){
     background-color: #888;
}
input:focus, input.form-check-input:focus {
     outline:none !important;
     outline-width: 0 !important;
     box-shadow: none;
 }
.switch{
    margin: 12px 25px 6px 0px;
  }
  @media screen and (max-width:992px) {
    .col{
        padding: 0px !important;
        margin-bottom: 14px;

    }
    .pd-left{
        padding-left: 20px !important;
    }
  }