<div class="container-fluid mb-3">
    <div class="accordion">
        <div class="accordion-item m-2">
                <div class="accountSummary d-flex flex-row justify-content-between">
                    <span class="summaryheading">Account Summary</span>
                        <div class="form-check form-switch d-flex flex-row switch"> 
                            <span class="hide toggleSwitchContent">Hide</span>
                            <input class="form-check-input checkbox" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" aria-checked="true">
                            <span class="show toggleSwitchContent">Show</span>
                        </div>
                  </div>
            <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                 @for (data of accountDetails; track $index) {
                        <div  class="row row-cols-2 row-cols-sm-2  row-cols-md-2 row-cols-lg-5">
                            <div class="col">
                                <span class="accountHeading">Account Holder Name</span>
                                 <span class="accountValues wrap">{{data.AccountHolder}}</span>
                            </div>
                            <div class="col pd-left">
                                <span class="accountHeading">Account Type</span>
                                <span class="accountValues wrap">{{data.AccountType}}</span>
                            </div>
                            <div class="col">
                                <span class="accountHeading">Account Number</span>
                                <span class="accountValues wrap">{{data.AccountNumber}}</span>
                            </div>
                            <div  class="d-none d-lg-block col">
                                <span class="accountHeading">Account Branch</span>
                                <span class="accountValues wrap">{{data.AccountBranch}}</span>
                            </div>
                            <div class="col pd-left">
                                <span class="accountHeading">Available Balance</span>
                                <span class="accountValues wrap">₹{{data.AvailableBalanceinRupees}}</span>
                            </div>
                        </div>
                    }
                </div>
            </div>
          </div>
    </div>
</div>

