.form-check-input:checked{
    width: 20px;
    height: 20px;
    top: 402px;
    left: 590px;
    gap: 0px;
    border-radius: 2px 0px 0px 0px;
    opacity: 0px;
    background-color:#082341 ;
    border-color: #082341;
}

.form-check-input:focus{
    border: 0px !important;
}
.selectBiller,.cre-card,.billDetails,.billerCard{
    font-size: 12px;
}
.error-txt{
    padding-left: 80px;
}
.sub-text{
    margin-top: 5px;
    margin-right: 38px;
}
.sub-text.due{
    margin-right: 20px;
    margin-top: 0 !important;
}
.bold-text{
    margin-left: 18px !important;
}
.button-margin{
  margin-top: 50px;
}
.biller{
  margin-top: 50px;
}
.payment{
margin-top: 30px;
}
.sub-text-biller{
    margin-top: 35px;
}
.sub-text-paying-from{
    margin-top: 37px;
}
.acc-details{
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.common-bold-text{
    color: #082341;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.savings{
    padding-left: 4px !important;
    padding-top: 3px;
}

.dropdown-style{
color: #082341;
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.dropdown-toggle::after{
    content: none !important;
}
.dropdown-image::after{
    content: '' !important;
}
.dropdown-menu{
    margin-top: 12px !important;
    padding-right: 137px;
    margin-left: 26px !important;
    transform: translate3d(243.6667px, 118px, 0px) !important;
}
.balance{
    margin-left: 96px;
}
.sel-balance{
    margin-left: 3px !important;
}
.dueDate{
    margin-top: 4px;
}
.cursor-pointer{
    cursor: pointer;
}
.dropdown-item:active, .dropdown-item:focus, .dropdown-item:hover {
    background-color:white !important;
    color: black !important;
}
@media only screen and (min-width: 360px) and (max-width: 768px) {
.sub-text{
    margin-left: 1px !important;
    margin-right: 0 !important;
}
.bold-text{
    margin-left: -1px !important;
    margin-top: 2rem !important;
}
.select-mob{
color: #082341;
font-size: 14px !important;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-left: 15px;
margin-top: 20px;
}
  .mob-rec-form{
    padding-right: 0 !important;
  }
.dueDate{
    margin-left: 120px;
    margin-top: 12px;
}
.savingsAccNumber{
    font-size: 14px;
    margin-left: 8px;
    margin-top: 5px;
}
.savings-mob{
    margin-left: 124px;
}
.sel-balance {
    margin-left: 10px !important;
}
.error-txt{
    padding-left: 1px;
}
.sub-text.due, .savings-duedate{
    font-size: 12px;
}
.sub-text.due{
    margin-top: 5px !important;
}
.dropdown-menu{
    margin-top: -30px !important;
    padding-right: 64px;
    /* margin-left: 26px !important; */
    transform: translate3d(107.6667px, 118px, 0px) !important;
  }
}

  

