.form-check-input:checked{
    width: 20px;
    height: 20px;
    top: 402px;
    left: 590px;
    gap: 0px;
    border-radius: 2px 0px 0px 0px;
    opacity: 0px;
    background-color:#082341 ;
    border-color: #082341;
}
.btn-primary,.btn-primary:active {
    border: 1px solid #453985 !important;
    background: #453985;
}
.form-check-input:focus{
    border: 0px !important;
}
.selectBiller,.cre-card,.billDetails,.billerCard{
    font-size: 12px;
}
.error-txt{
    padding-left: 80px;
}
.sub-text{
    margin-top: 5px;
    margin-right: 38px;
}
.sub-text.due{
    margin-right: 20px;
}
.bold-text{
    margin-left: 18px !important;
}
.button-margin{
  margin-top: 50px;
}
.biller{
  margin-top: 50px;
}
.payment{
margin-top: 30px;
}
.sub-text-biller{
    margin-top: 35px;
}
.sub-text-paying-from{
    margin-top: 37px;
}
.acc-details{
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.common-bold-text{
    color: #082341;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.savings{
    padding-left: 4px !important;
    padding-top: 3px;
}
.custom-styles,.custom-styles:active{
    border-radius: 2px;
border: 1px solid #D2D2D2;
background: #FFF;
width: 288px;
height: 36px;
flex-shrink: 0;
}
@media only screen and (min-width: 360px) and (max-width: 768px) {
.sub-text{
    margin-left: 1px !important;
    margin-right: 0 !important;
    margin-top: 2px;
}
.bold-text{
    margin-left: -16px !important;
    margin-top: 2rem !important;
}
.select-mob{
color: #082341;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-left: 15px;
margin-top: 20px;
}
  .mob-rec-form{
    padding-right: 0 !important;
  }
.dueDate{
    margin-left: 120px;
    margin-top: 15px;
}
.savingsAccNumber{
    font-size: 14px;
    margin-left: 8px;
    margin-top: 5px;
}
.savings-mob{
    margin-left: 124px;
}
.sel-balance {
    margin-left: 10px;
}
.savings-duedate{
    margin-top: -1px !important;
}
.error-txt{
    padding-left: 1px;
}
}
