.form-check-input:checked{
    width: 20px;
    height: 20px;
    top: 402px;
    left: 590px;
    gap: 0px;
    border-radius: 2px 0px 0px 0px;
    opacity: 0px;
    background-color:#082341 ;
    border-color: #082341;
}
.btn-primary,.btn-primary:active {
    border: 1px solid #453985 !important;
    background: #453985;
}
.form-check-input:focus{
    border: 0px !important;
}
.selectBiller,.cre-card,.billDetails,.billerCard{
    font-size: 12px;
}
.dueDate{
    margin-left: 100px;
}
.error-txt{
    padding-left: 80px;
}
.balance{
    margin-left: 80px;
}
.sub-text{
    margin-right: 16px;
    margin-left: 70px !important;
    margin-top: 5px;
}
.bold-text{
    margin-left: 18px !important;
}
.sub-text-account{
    margin-left: 100px;
}
.biller-details{
    margin-top: 50px;
    color: #082341;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
/* .sel-balance{
    margin-left: 174px;
} */
@media screen and (min-width: 360px) and (max-width: 576px) {
.sub-text{
    margin-left: -17px !important;
    margin-right: 0 !important
}
.bold-text{
    margin-left: -16px !important;
    margin-top: 2rem !important;
}
.select-mob{
color: #082341;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-left: 15px;
margin-top: 20px;
}
  
.dueDate{
    margin-left: 120px;
    margin-top: 15px;
}
.savingsAccNumber{
    font-size: 14px;
    margin-left: 8px;
    margin-top: 5px;
}
.sel-balance {
    margin-left: 10px;
}
.savings-duedate{
    margin-top: -1px !important;
}
.error-txt{
    padding-left: 1px;
}
}
