<div class="container-fluid mt-4 mb-4">
  <div class="card select-mobile">
  <div class="card-header d-none d-sm-block">
    Select Biller
  </div>
  <span class="d-block d-sm-none select-mob">Select Biller</span>
  <form [formGroup]="billerForm">
    <div class="card-body">
      <div class="row">
        <div class="col-lg-2 col-md-3 col-sm-5 col ">
           <label for="id_select" class="sub-text">Select Billers for</label>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-5 col">
          <select id="id_select" class="transferInputs selectBiller" formControlName="billerType" autofocus>
            @for(option of selectOptions;track $index){
              <option id="biller" [value]="option">{{option}}</option>
            }
          </select>
        </div>
      </div>
      <div class="d-flex">
        <span class="bold-text mt-5">Biller Details</span>
      </div>
      <div class="row">
        @if(!showRechargeForm){
          <div class="col-lg-2 col-md-3 col-sm-6 col">
            <label for="id_select" class="sub-text"> Biller Details </label>
          </div>
          <div class="col-lg-2 col-md-3 col-sm-6 col">
            <select id="id_select" class="transferInputs cre-card" formControlName="billerdetails" autofocus="true">
              @for (data of biller; track $index) {
                <option [value]="data" id="billerDetails">{{data}}</option>
              }
              </select>
          </div>
        }
      </div>
       <div class="row mt-4">
        @if(!showRechargeForm){
          <div class="col-lg-2 col-md-3 col-sm-6 col">
            <label for="id_select" class="sub-text"> Bill Amount</label>
          </div>
          <div class="col-lg-2 col-md-3 col-sm-6 col">
            <input type="text" class="transferInputs billDetails" formControlName="billDetailsAmount" maxlength="5"  (keypress)="onKeyPress($event)">
            <div  class="text-danger error-txt">
               @if(billerForm.get('billDetailsAmount')?.hasError('required') && billerForm.get('billDetailsAmount')?.touched){
                <span>Enter Amount</span>
               }
             </div>
            </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col dueDate">
            <span class="sub-text float-start">Due Date: </span>
          <div class="ps-5">
            <span class="savingsAccNumber savings-duedate">{{dueDate | date:'dd/MM/yy'}}</span>
            <span class="balance d-none d-sm-block ">Min Balance: 18405.00</span>
          </div>
        </div>
      }
       </div>
      <!-- Conditional Mobile Recharge Form -->
      <form  [formGroup]="rechargeForm" class="mt-4" #formElement>
        @if(showRechargeForm){
          <div class="row">
            <div class="col-lg-2 col-md-3 col-sm-6 col">
              <label class="sub-text mt-2">Network provider</label>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 col">
              <select class="transferInputs cre-card" formControlName="networkProvider">
                @for(provider of networkProviders;track $index){
                  <option id="network" [value]="provider">
                         {{provider}}
                  </option>
                }
              </select>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-lg-2 col-md-3 col-sm-6 col">
              <label class="sub-text">Mobile number</label>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 col">
              <input type="text" class="transferInputs cre-card" formControlName="mobileNumber" (keypress)="onKeyPress($event)" maxlength="10" minlength="10" placeholder="Enter Mobile Number" aria-autocomplete="list">
              <div class="error text-danger">
                @if(rechargeForm.get('mobileNumber')?.hasError('required') && rechargeForm.get('mobileNumber')?.touched){
                  <span>Enter Mobile Number</span>
                }
              </div>
            <div class="error text-danger">
              @if(rechargeForm.get('mobileNumber')?.hasError('pattern') || rechargeForm.get('mobileNumber')?.hasError('minlength')){
                <span>Enter Valid Mobile Number</span>
              }
            </div>
            </div>
          </div>
           <div class="row mt-4">
            <div class="col-lg-2 col-md-3 col-sm-6 col">
            <label for="id_select" class="sub-text">Recharge amount</label>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 col">
              <input type="text" class="transferInputs cre-card"  placeholder="Enter amount" formControlName="amount" (keypress)="onKeyPress($event)" maxlength="5">
              <div class="error text-danger">
                @if(rechargeForm.get('amount')?.hasError('required') && rechargeForm.get('amount')?.touched){
                  <span>Enter Amount</span>
                }
              </div>
            </div>
            <div class="col-lg-4 col-md-3 col-sm-6 col dueDate">
              @if(isDueDateDisabled){
                <div>
                  <span class="sub-text float-start">Due Date:</span>
                </div>
                <div class="">
                  <span class="savingsAccNumber savings-duedate">{{dueDate | date:'dd/MM/yy'}}</span>
                  <span class="balance d-none d-sm-block">Min Balance: 18405.00</span>
                </div>
              }
            </div>
           </div>
        }
      </form>
     <!-- Add more fields or information as needed -->
        <div class="d-flex">
          <span class="bold-text mt-5">Payment Details</span>
        </div>
        <div class="row">
          <div class="col-lg-2 col-md-3 col-sm-6 col">
            <label for="id_select" class="sub-text mt-2"> Paying From</label>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-3 col">
            <select id="id_select" class="transferInputs billerCard" autofocus="true" formControlName="PayingFrom">
              <option value="Savings Account" id="savings">Savings Account</option>
         </select>
          </div>
          <div class=" sub-text-account col-lg-5 col-md-5 col-sm-3 col">
            <span class="sub-text float-start d-none d-sm-block">Account Details</span>
            <div class="">
              <span class="savingsAccNumber float-start">Savings: 12345678910111213</span>
              <span class="balance sel-balance">Balanc: ₹ {{availBalance}}/-</span>
            </div>
          </div>
        </div>
      <!-- Continue with the rest of your form -->
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3"></div>
          <button class="cancelAndSaveBtn me-2 col-lg-2 col-md-2 col-sm-2 col" routerLink="/dashboard" id="back">Back</button>
          <button class="cancelAndSaveBtn ms-3 col-lg-2 col-md-2 col-sm-2 col"  (click)="onCancel()">Cancel</button>
          <button type="submit" class="btn btn-primary cancelAndSaveBtn saveBtn col-lg-2"  [disabled]="billerForm.invalid && (!showRechargeForm || rechargeForm.invalid)" (click)="onSubmit()" id="pay" [ngClass]="{'btn-enabled': !billerForm.invalid && !rechargeForm.invalid, 'btn-disabled': billerForm.invalid && rechargeForm.invalid}">Pay</button>
      </div>
    </div>
  </form>

</div>
</div>
