<div class="container-fluid mt-4 mb-4">
  <div class="card ">
  <div class="card-header d-none d-sm-block">
    Select Biller
  </div>
  <p class="d-block d-sm-none select-mob">Select Biller</p>
  <form [formGroup]="billerForm">
    <div class="card-body">
      <div class="row">
        <div class="col-lg-2 col-md-5 col-sm-5 col ">
           <label for="id_select" class="sub-text">Select Billers for</label>
        </div>
        <div class="col-lg-2 col-md-5 col-sm-5 col">
          <select id="id_select" class="transferInputs selectBiller" formControlName="billerType" autofocus>
            @for(option of selectOptions;track $index){
              <option id="biller" [value]="option">{{option}}</option>
            }
            
          </select>
        </div>
      </div>
      <!-- <div class="d-flex flex-row">
        <label for="id_select" class="sub-text ps-5">Select Billers for</label>
        <select id="id_select" class="transferInputs selectBiller" formControlName="billerType" autofocus>
          @for(option of selectOptions;track $index){
            <option id="biller" [value]="option">{{option}}</option>
          }
          
        </select>
      </div> -->
      <div class="d-flex">
        <p class="bold-text mt-5">Biller Details</p>
      </div>
      <div class="row">
        @if(!showRechargeForm){
          <div class="col-lg-2 col-md-3 col-sm-6 col">
            <label for="id_select" class="sub-text"> Biller Details </label>
          </div>
          <div class="col-lg-2 col-md-3 col-sm-6 col">
            <select id="id_select" class="transferInputs cre-card" formControlName="billerdetails" autofocus="true">
              @for (data of biller; track $index) {
                <option [value]="data" id="billerDetails">{{data}}</option>
              }
              </select>
          </div>
        }
      </div>
      <!-- <div class="d-flex">
        @if(!showRechargeForm){
          <div>
             <label for="id_select" class="sub-text ps-5"> Biller Details </label>
         <select id="id_select" class="transferInputs cre-card" formControlName="billerdetails" autofocus="true">
          @for (data of biller; track $index) {
            <option [value]="data" id="billerDetails">{{data}}</option>
          }
            
          </select>
          </div>
          
        }
       </div> -->
       <div class="row mt-4">
        @if(!showRechargeForm){
          <div class="col-lg-2 col-md-3 col-sm-6 col">
            <label for="id_select" class="sub-text"> Bill Amount</label>
          </div>
          <div class="col-lg-2 col-md-3 col-sm-6 col">
            <input type="text" class="transferInputs billDetails" formControlName="billDetailsAmount" maxlength="5"  (keypress)="onKeyPress($event)">
            <div  class="text-danger error-txt">
               @if(billerForm.get('billDetailsAmount')?.hasError('required') && billerForm.get('billDetailsAmount')?.touched){
                <p>Enter Amount</p>
               }
             </div>
            </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col dueDate">
          <!-- <div> -->
            <p class="sub-text float-start">Due Date:- </p>
          <!-- </div> -->
          <div class="ps-5">
            <p class="savingsAccNumber savings-duedate">{{dueDate | date:'dd/MM/yy'}}</p>
            <p class="balance d-none d-sm-block ">Min Balance - 18405.00</p>
          </div>
        </div>
      }
       </div>
       <!-- <div class="d-flex mt-5">
          @if(!showRechargeForm){
            <label for="id_select" class="sub-text mt-2 ps-5"> Bill Amount</label>
          <div class="d-flex flex-column">
              <input type="text" class="transferInputs billDetails" formControlName="billDetailsAmount" maxlength="5"  (keypress)="onKeyPress($event)">
              <div  class="text-danger error-txt">
                 @if(billerForm.get('billDetailsAmount')?.hasError('required') && billerForm.get('billDetailsAmount')?.touched){
                  <p>Enter Amount</p>
                 }
               </div>
          </div>
         <div class="d-flex flex-row justify-content-between dueDate">
          <div>
            <p class="sub-text">Due Date</p>
          </div>
          <div class="ps-4">
            <p class="savingsAccNumber">{{dueDate | date}}</p>
            <p class="balance">Min Balance - 18405.00</p>
          </div>
        </div>
          }
        </div> -->
      <!-- Conditional Mobile Recharge Form -->
    
      <form  [formGroup]="rechargeForm" class="mt-4" #formElement>
        @if(showRechargeForm){
          <div class="row">
            <div class="col-lg-2 col-md-3 col-sm-6 col">
              <label class="sub-text mt-2">Network provider</label>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 col">
              <select class="transferInputs cre-card" formControlName="networkProvider">
                @for(provider of networkProviders;track $index){
                  <option id="network" [value]="provider">
                         {{provider}}
                  </option>
                }
              </select>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-lg-2 col-md-3 col-sm-6 col">
              <label class="sub-text">Mobile number</label>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 col">
              <input type="text" class="transferInputs cre-card" formControlName="mobileNumber" (keypress)="onKeyPress($event)" maxlength="10" minlength="10" placeholder="Enter Mobile Number" aria-autocomplete="list">
              <div class="error text-danger">
                @if(rechargeForm.get('mobileNumber')?.hasError('required') && rechargeForm.get('mobileNumber')?.touched){
                  <p>Enter Mobile Number</p>
                }
              </div>
            <div class="error text-danger">
              @if(rechargeForm.get('mobileNumber')?.hasError('pattern') || rechargeForm.get('mobileNumber')?.hasError('minlength')){
                <p>Enter Valid Mobile Number</p>
              }
            </div>
            </div>
          </div>
           <div class="row mt-4">
            <div class="col-lg-2 col-md-3 col-sm-6 col">
            <label for="id_select" class="sub-text">Recharge amount</label>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 col">
              <input type="text" class="transferInputs cre-card"  placeholder="Enter amount" formControlName="amount" (keypress)="onKeyPress($event)" maxlength="5">
              <div class="error text-danger">
                @if(rechargeForm.get('amount')?.hasError('required') && rechargeForm.get('amount')?.touched){
                  <p>Enter Amount</p>
                }
              </div>
            </div>
            <div class="col-lg-4 col-md-3 col-sm-6 col dueDate">
              @if(isDueDateDisabled){
                <div>
                  <p class="sub-text float-start">Due Date:- </p>
                </div>
                <div class="">
                  <p class="savingsAccNumber savings-duedate">{{dueDate | date:'dd/MM/yy'}}</p>
                  <p class="balance d-none d-sm-block">Min Balance - 18405.00</p>
                </div>
              }
            </div>
           </div>
        }
      </form>
     <!-- Add more fields or information as needed -->
        <div class="d-flex">
          <p class="bold-text mt-5">Payment Details</p>
        </div>
        <div class="row">
          <div class="col-lg-2 col-md-3 col-sm-6 col">
            <label for="id_select" class="sub-text mt-2"> Paying From</label>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-3 col">
            <select id="id_select" class="transferInputs billerCard" autofocus="true" formControlName="PayingFrom">
              <option value="Savings Account" id="savings">Savings Account</option>
         </select>
          </div>
          <div class=" sub-text-account col-lg-5 col-md-5 col-sm-3 col">
            <p class="sub-text float-start d-none d-sm-block">Account Details</p>
            <div class="">
              <p class="savingsAccNumber">Savings - 12345678910111213</p>
              <p class="balance sel-balance">Balance - ₹ {{availBalance}}/-</p>
            </div>
          </div>
        </div>
        <!-- <div class="d-flex">
          <label for="id_select" class="sub-text mt-2 ps-5"> Paying From</label>
          <select id="id_select" class="transferInputs billerCard" autofocus="true" formControlName="PayingFrom">
               <option value="Savings Account" id="savings">Savings Account</option>
          </select>
          <div class="d-flex flex-row justify-content-between dueDate">
            <div>
              <p class="sub-text">Account Details</p>
            </div>
            <div class="ps-4">
              <p class="savingsAccNumber">Savings - 12345678910111213</p>
              <p class="balance">Balance - ₹ {{availBalance}}/-</p>
            </div>
          </div>
         
        </div> -->
      <!-- Continue with the rest of your form -->
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3"></div>
          <button class="cancelAndSaveBtn me-2 col-lg-2 col-md-2 col-sm-2 col" routerLink="/dashboard" id="back">Back</button>
          <button class="cancelAndSaveBtn ms-3 col-lg-2 col-md-2 col-sm-2 col"  (click)="onCancel()">Cancel</button>
          <!-- Adjust the condition for disabling the Pay button as necessary -->
          <button type="submit" class="btn btn-primary cancelAndSaveBtn saveBtn col-lg-2"  [disabled]="billerForm.invalid && (!showRechargeForm || rechargeForm.invalid)" (click)="onSubmit()" id="pay">Pay</button>
      </div>
    </div>
  </form>

</div>
</div>
