.container-without-scrollbars{
  overflow-x: hidden !important;

}
.email,.password{
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 142.857% */
}
input[type=text][type=password]{
  border: 1px solid #525252
}
.cursor-pointer{
    cursor: pointer;
  }
.forgot-info{
  color: #1B154C;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none !important;
}
.register-content{
  color: var(--Brand-Primary-Colors-Evoke-Blue-Evoke-Blue, #1B154C);
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-decoration: none;
}
.login-btn-margin{
  margin-top: 90px;
}
.login-image{
  height: 100vh;
  width: 100%;
}
.invalidCredentials{
  color: var(--Secondary-Colors-EV-Imperial---Danger-Error-EV-IMP, #F22F46);
  font-size: 14px;
  margin-top: 20px;

}
@media screen and (min-width: 360px) and (max-width: 576px){
  .mrg-t-mobile{
    margin-top: 65px;
}
  .left-content{
    padding: 20px;
  }
  }