body{
  overflow: hidden;
}
.welcome{
  margin-bottom: 120px;
}
.email,.password{
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 142.857% */
}
input[type=text][type=password]{
  border: 1px solid #525252
}
.cursor-pointer{
    cursor: pointer;
  }
  .login-image{
    width:700px ;
    height:600px ;
  }
  .forgot-info{
    color: #1B154C;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none !important;
  }
  .text-content{
    color: #707070;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .register-content{
    color: var(--Brand-Primary-Colors-Evoke-Blue-Evoke-Blue, #1B154C);
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-decoration: none;
  }
  .error-text{
    color: var(--Secondary-Colors-EV-Imperial---Danger-Error-EV-IMP, #F22F46);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 133.333% */
  }
  .form-control:focus {
    box-shadow: none !important;
    border-color: #6E6E70 !important;
  }
  .login-btn-margin{
    margin-top: 90px;
  }
  @media (min-width:320px) {
    .mrg-t-mobile{
        margin-top: 110px;
    }
  }