<div class="container-fluid container-without-scrollbars">
  <div class="row">
    <div class="col-md-8 col-lg-5 col mrg-t-mobile left-content">
      <h2 class="welcome-text">Welcome.!</h2>
      @if(invalidUser){
        <div class="text-center invalidCredentials">
        <span>Please Enter Valid Credentials</span>
        </div>
      }
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" #formElement>
        <div class="form-group">
          <label for="email" class="email">Email<span class="text-danger">*</span></label>
          <input type="email" id="email" class="form-control mt-1" formControlName="email" placeholder="Enter Email" aria-autocomplete="list"/>
            @if (formControls['email'].hasError('required') && formControls['email'].touched) {
            <span class="error-text">Email is required.</span>
             } @if (formControls['email'].hasError('pattern') && formControls['email'].touched) {
            <span class="error-text">Please enter a valid email address.</span>
          }
        </div>
        <div class="form-group mt-3">
          <label for="password" class="password">Password<span class="text-danger">*</span></label>
          <input type="password" id="password" class="form-control mt-1" formControlName="password" placeholder="Enter Password"/>
          @if (formControls['password'].hasError('required') && formControls['password'].touched) {
            <span class="error-text">Password is required.</span>
          } @if (formControls['password'].hasError('pattern') && formControls['password'].touched) {
            <span class="error-text">Password must be at least 8 characters long and contain at least one letter and one number.</span>
          }
        </div>
        <div class="forgot-text">
          <a class="cursor-pointer float-end forgot-info" (click)="openForgotPasswordPopup(copyContent)" >Forgot Info</a>
        </div>
        <div class="d-grid login-btn-margin">
          <!-- @if(invalidUser){
            <div class="text-center invalidCredentials">
            <span>Please Enter Valid Credentials</span>
            </div>
          } -->
          <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid" id="login" [ngClass]="{'btn-enabled': !loginForm.invalid, 'btn-disabled': loginForm.invalid}"> Login </button>
          <span class="text-content">If you don’t have account ? <a class="cursor-pointer register-content" routerLink="/registration">Register Here</a></span>
        </div>
      </form>
    </div>
    <div class="col-md-6 col-lg-7">
      <img class="d-none d-lg-block login-image" [src]="imagePath" alt="Description"/>
    </div>
  </div>
</div>
<ng-template #copyContent let-modal>
  <app-forgot-info></app-forgot-info>
</ng-template>
