
.btn-primary {
    background-color: #e1934b !important;
    color: white;
    --bs-btn-border-color:none !important;
}
.navbar-text{
    text-transform: capitalize;
    color: #FFF;
}
.specific-text{
    display: block;
    opacity: 0.5;
    color: #37383A;
    font-size: 14px;
    font-weight: 400;
    text-transform: lowercase;
    text-align: center !important;
    padding-top: 30px;
}
.bg-light{
    background: #082341 !important;
    box-shadow: none !important;
}
.img-style{
    padding-right: 5px;
}
.navbar-toggler:focus {
    text-decoration: none;
    outline: none !important;
    box-shadow: none !important;
}
.offcanvas{
    width: 260px;
    height: auto;
}
.bg-color{
    background-color:#E8E8ED;
    height: calc(100vh - 56px);
}
.section-style{
    padding-top: 60px;
    padding-left: 15px;
    padding-right: 15px;
}
.offcanvas-body{
    padding-top: 2px !important;
}
.user-style{
    width: 40px;
    height: 40px;
    flex-shrink: 0;
}
@media screen and (max-width:992px) {
    .bg-color{
        background-color:#E8E8ED;
        height: calc(100vh - 48px);
    }
    .section-style{
        padding-top: 60px;
        padding-left: 0;
        padding-right: 0;
    }
.login-user{
    color: var(--Brand-Primary-Colors-Evoke-Blue-Evoke-Blue, #1B154C);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.accountNumber{
    color: #000;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.logout-style{
    width: 160px;
    height: 40px;
    padding: 0px 16px;
    text-align: center;
    border-radius: 4px;
    border: 1px solid #1B154C;
    background: #FFF !important;
    color: var(--Brand-Primary-Colors-Evoke-Blue-Evoke-Blue, #1B154C);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.offcanvas-body{
    justify-content: center !important;
}
.sm-offcanvas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
}