.btn-primary {
    background-color: #e1934b !important;
    color: white;
    --bs-btn-border-color:none !important;
}
.navbar-text{
    text-transform: capitalize;
    color: #FFF;
}
.specific-text{
    opacity: 0.5;
    color: #37383A;
    font-size: 14px;
    font-weight: 400;
    text-transform: lowercase;
    text-align: center !important;
}
.bg-light{
    background: #082341 !important;
    box-shadow: none !important;
}
.login-user{
    margin-top: 7px;
}
.navbar-toggler:focus {
    text-decoration: none;
    outline: none !important;
    box-shadow: none !important;
}
/* .offcanvas{
    width: 260px;
} */
.img-style{
    padding-right: 5px;
}