<div class="card mb-3 cd-radius cursor">
	<div class="row g-0">
		<div class="col-md-5 col-6 acc-sty text-center">
			<div class="">
				<img src="assets/account-pin-circle-line.png" class="text-center" alt="Account-Details" style="max-height: fit-content;">
			</div>
			<span class="account-style mt-3"> Account Details </span>
		</div>
		<div class="col-md-7 col-6">
			<div class="card-body text-color" id="card-inside-text">
				<ul class="dashboard-cards">
					<li class="card-text li-styles" id="accountNo">Account Number</li>
					<li class="card-text li-styles" id="accountBalance">Account Balance</li>
					<li class="card-text li-styles" (click)="getTransction()" id="transHistory">Transaction History</li>
					<li class="card-text" (click)="getStatements()" id="statements">Account Statement</li>
				</ul>
			</div>
		</div>
	</div>
</div>
