
.dashboard-cards{
    text-wrap: nowrap;
}
.cards .account-style{
    margin-top: 3px;
}
@media (max-width: 576px) {
    .dashboard-cards {
        flex-wrap: nowrap;
    }

    .dashboard-cards li {
        white-space: nowrap;
    }
}