<div class="card mb-3 cd-radius cursor">
	<div class="row g-0">
		<div class="col-md-5 col-6 acc-sty text-center">
			<img src="assets/account-icon.svg" class="text-center mt-4" alt="Account-Details" style="max-height: fit-content;">
			<p class="account-style mt-3">Account Details</p>
		</div>
		<div class="col-md-7 col-6">
			<div class="card-body text-color" id="card-inside-text">
				<p class="card-text" id="accountNo">Account Number</p>
				<p class="card-text" id="accountBalance">Account Balance</p>
				<p class="card-text" (click)="getTransction()" id="transHistory">Transaction History</p>
				<p class="card-text" (click)="getStatements()" id="statements">Statements</p>
			</div>
		</div>
	</div>
</div>
