.modal-header{
    background: #1B154C;
	color: white;
}
.can-btn{
	color: var(--Text-Colors-Text-Tints-Text-80, #434345);
	border-radius: 4px;
	border: 1px solid var(--Brand-Primary-Colors-Evoke-Blue-Evoke-Blue, #1B154C);
	background: var(--Card-Tile-Text, #FFF);
}
.fet-btn,.fet-btn:active{
	color: var(--White, var(--Color, #FFF));
}
.button-style{
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 24px; /* 150% */
	width: 160px;
	padding: 8px 12px;
}
.br-none{
	border-top: none !important;
}
.error-txt{
    font-size: 14px;
    font-weight: bold;
  }