
/* You can add global styles to this file, and also import other style files */
body {
    font-family: Lato;
  }
  .ng-invalid.ng-touched {
    border-color: red;
  }
  ::placeholder {
    color: #b8b8b8;
  }
  .btn-enabled, .btn .btn-primary:active{
    background: #1B154C !important;
    border: none !important;
  }
  .btn-disabled{
    border: none !important;
    background: #888888 !important;
  }
  .error-text{
    color: var(--Secondary-Colors-EV-Imperial---Danger-Error-EV-IMP, #F22F46);
    font-size: 12px;
    font-weight: 400;
    margin: 0px !important;
  }
  .text-color {
    color: #1b154c;
    color: var(--Brand-Primary-Colors-Evoke-Blue-Evoke-Blue, #1b154c);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px; /* 125% */
    padding: 20px 20px;
  }
  .form-control:focus {
    box-shadow: none !important;
    border-color: #6E6E70 !important;
  }
  .text-content{
    color: #707070;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    margin-top: 20px;
  }
  .left-content{
    padding: 0px 60px;
  }
  ul.dashboard-cards {
    list-style-type: none;
    padding-left: 5px;
    margin-bottom: 0 !important;
  }
  .li-styles{
    margin-bottom: 8px;
  }
  .card-text{
    color: var(--Brand-Primary-Colors-Evoke-Blue-Evoke-Blue, #1B154C);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px; /* 150% */
  }
  .acc-sty {
    background: #e14b57;
    border-radius: 5px 0px 0px 5px;
  }
  .pay-sty {
    background: #e1934b;
    border-radius: 5px 0px 0px 5px;
  }
  .fund-sty {
    background: #15b2ec;
    border-radius: 5px 0px 0px 5px;
  }
  .welcome-text{
    color: var(--Brand-Primary-Colors-Evoke-Blue-Evoke-Blue, #1B154C);
    text-align: center;
    font-size: 38px;
    font-weight: 600;
    margin-bottom: 60px;
    margin-top: 60px;
  }
  .logo{
    color: var(--White, #FFF);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    padding-top: 3px;
}
  /* transfer and payment screen css  */
  .cancelAndSaveBtn {
    width: 160px;
    padding: 5px 0px 5px 0px;
    border: 1px solid #082341;
    color: #082341;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.12px;
    background: #fff;
    border-radius: 4px;
    text-transform: capitalize;
  }
  .saveBtn {
    color: #fff;
    margin-left: 15px;
    text-align: center;
    cursor: pointer;
  }
  .sub-text {
    color: #777;
    font-size: 16px;
    font-weight: 700;
    margin-left: 47px;
  }
  .side-text {
    color: #777;
    font-size: 16px;
    font-weight: 700;
    padding-top: 6px;
  }
  .card-header {
    background: #ecf3ff !important;
    color: #082341;
    font-size: 16px;
    font-weight: 700;
    padding: 12px;
    margin-bottom: 30px;
    border-radius: 0px !important;
    letter-spacing: 0.32px;
  }
  .savingsAccNumber {
    font-size: 16px;
    color: #082341;
    font-weight: 700;
    margin-right: 20px;
}
  .balance {
    color: #717171;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.5px;
  }
  .transferInputs {
    width: 288px;
    height: 36px;
    border-radius: 2px;
    border: 1px solid #d2d2d2;
    color: #082341;
    font-size: 14px;
    font-weight: 700;
    border-radius: 2px;
    padding: 5px;
  }
  .accountHeading {
    display: block;
    color: #020202;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 9px;
  }
  .accountValues {
    display: block;
    color: #082341;
    font-size: 16px;
    font-weight: 800;
    text-transform: capitalize;
    padding-bottom: 5px;
  }
  .accountSummary {
    background-color: #ecf3ff;
    height: 50px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    border: 1px solid #d1cfcf;
    background: var(--Card-Header, #ecf3ff);
  }
  .summaryheading {
    color: var(--Heading-Text, #1b154c);
    font-size: 16px;
    font-weight: 700;
    padding: 14px;
  }
.toggleSwitchContent {
    color: #082341;
    text-align: right;
    font-size: 12px;
    font-weight: 400;
    text-transform: capitalize;
    padding-top: 4px;
  }
  .inputBox {
    width: 216px;
    height: 36px;
    flex-shrink: 0;
    border-radius: 2px;
    border: 1px solid #d2d2d2;
    cursor: pointer;
  }
  .form-check-label {
    width:100%;
    max-width:169px;
  }
  .form-check-input,.form-check-label{
    cursor: pointer;
  }
.account-style{
    color: var(--Neutral-Colors-Smokey-White, var(--Neutral-Colors-Smoky-White, #F8F8F9));
    font-size: 16px;
    font-weight: 600;
    line-height: 20px; /* 125% */
    }
    #card-inside-text{
      font-size: calc(10px + 0.5vw);
      font-weight: bold;
  }
  .cursor{
    cursor: pointer;
  }
  .dropdown-image{
    -webkit-appearance: none; /* Remove default arrow in Chrome/Safari */
    -moz-appearance: none; /* Remove default arrow in Firefox */
    appearance: none; /* Remove default arrow in other browsers */
    float: right;
  }
 /* All media-breakpoint */

/* Fund Transfer Screen */
  @media screen and (min-width:375px) and (max-width:767px){
    label.sub-text{
      color: #082341;
      font-size: 12px;
      margin-left: 5px;
    }
    label.side-text{
      color: #082341;
      font-size: 12px;
      margin-left: 5px;
    }
    input.transferInputs {
      width: 216px ;
      height: 36px;
      flex-shrink: 0;
      float: inline-end;
    }
    .mobile.transferInputs{
      width: 216px;
      height: 36px;
      flex-shrink: 0;
      float: inline-end;
    }
    .cancelAndSaveBtn{
      width: 100px;
    }
  }
  @media screen and (max-width:992px) {
    .card-header{
       background-color: white !important;
       margin-bottom: 17px;
       border: none !important;
       font-size: 14px;
       padding: 2px;
    }
  }
/* select-biller */
@media only screen and (min-width:375px) and (max-width: 576px) {
  p.summaryheading {
    font-size: 12px ; 
    padding: 15px;
  }
  .select-mobile{
    border: none !important;
  }
}

/* account summary component */
@media screen and (max-width:768px) {
   .accountHeading{
    font-size: 10px;
    padding-bottom: 2px !important;
   }
   .accountValues{
    font-size: 12px;
   }
}

  