<section>
  <div class=" offset-md-2 offset-sm-0 col-md-9">
    <form>
      <div class="d-lg-flex mt-4 ms-4 d-sm-block mt-4">
        <div class="form-check form-check-label mt-2">
          <input class="form-check-input" type="radio" name="flexRadioDefault3" id="flexRadioDefault3"/>
          <label class="form-check-label mt-1 pglbl" for="flexRadioDefault3">Transaction Date</label>
        </div>
        <div class="row d-flex justify-content-center">
          <div class="col-md-6 col-sm-12 d-flex mt-2 smTop wholesmTop">
            <label class="lablespace balance lblText ">
              <p class="dateplace">From</p>
            </label>
            <input class="form-control Field inputBox inptxt" type="date"/>
          </div>
          <div class="col-md-6 col-sm-12 d-flex mt-2 wholesmTop">
            <label class="lablespace balance lblText">
              <p class="dateplace" id="toDate">To</p>
            </label>
            <input class="form-control Field inputBox inptxt" type="date"  max="{{ todayDate() | date : 'yyyy-MM-dd' }}" />
          </div>
        </div>
      </div>
      <div class=" mt-2 ms-4 d-lg-flex" id="periodBox">
        <div class="form-check transfield form-check-label">
          <input class="form-check-input" type="radio" name="flexRadioDefault3" id="flexRadioDefault4" />
          <label class="form-check-label mt-1 pglbl" for="flexRadioDefault4">Transaction Period</label>
        </div>
        <div class="d-flex mt-lg-0 mt-4">
          <label class="lablespace balance lblText">
            <p>Select</p>
          </label>
          <select class="form-select Field inputBox inptxt" name="duration" id="duration">
            @for (eachday of statementPeriod() ; track $index) {
            <option [value]="eachday">{{ eachday }}</option>
            }
          </select>
        </div>
      </div>
      <div class=" mt-2 ms-4 d-lg-flex" id="downloadBox">
        <label class="form-check-label mt-1 pglbl" for="flexRadioDefault5">Download details as</label>
      <div class="d-flex mt-lg-0 mt-4">
        <label class="lablespace balance lblText">
          <p>Select</p>
        </label>
        <select class="form-select Field inputBox inptxt" name="duration" id="duration">
          @for (opt of statementFormats() ; track $index) {
          <option [value]="opt">{{ opt }}</option>
          }
        </select>
      </div>
    </div>
    <div class="btnArea">
      <button class="cancelAndSaveBtn d-lg-inline pgbackBtn" routerLink="/dashboard" id="back">Back</button>
      <button class="cancelAndSaveBtn ">Cancel</button>
      <button class="btn btn-primary cancelAndSaveBtn saveBtn" type="submit">Show</button>
    </div>
    </form>
    
    
    
    
    
    </div>
    
    
</section>