.dateplace{
  margin-right: 5px;
}

.pglbl{
  color: #082341;
  font-size: 16px;
  font-weight: 700;
}

.inptxt{
  color: #082341;
  font-size: 12px;
  font-weight: 700;
}

.lblText{
  color: #082341;
  margin-right: 1.5rem;
  margin-bottom: 1rem;
}

#toDate{
  margin-left: 1rem;
}

.lablespace{
  margin-top: 7px;
  padding-left: 25px;
}
  
  .tabArea {
    padding: 10px;
    flex-shrink: 0;
  }
  
  .tabFont {
    height: 36px;
    color: #37383a;
    font-size: 12px;
    font-weight: 700;
    text-transform: capitalize;
  }
  
  .tabData {
    border: 1px solid #d9d9da;
    background: #fff;
  }
  .tabHead {
    border-collapse: collapse;
    border: 1px solid #d9d9da;
    background: #f2f2f2;
  }
  
  .eachRow {
    border-bottom: 1px solid #fff;
  }
  
  .Pagearea {
    display: flex;
    justify-content: space-between;
  }
  
  .pagNumbers {
    list-style-type: none;
  }
  
  .lastRow {
    padding-top: 20px;
    border-top: 1.5px solid #d6d6d6;
  }
  
  .leftArrow {
    padding: 4px;
  }
  
  .rowsPg {
    color: #979797;
    font-size: 12px;
    font-weight: 700;
  }
  
  .paginationArea {
    height: 55px;
    background: #fff;
    padding: 1px;
    cursor: pointer;
  }
  
  .firstPg {
    background: #082341;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
  }
  
  .pgNo {
    padding: 8.5px;
  }
  
  .form-check-input:not(:checked) {
    border: 1px solid var(--Neutral-Colors-Light-Gray, #C3C2CC);
    background: var(--Primary-White, #FFF);
    cursor: pointer;
    margin-top: 8px;
  }
  .form-check-input:checked {
    border: 5px solid var(--Brand-Primary-Colors-Evoke-Blue-Evoke-Blue, #1B154C);
    background: var(--Primary-White, #FFF);
    cursor: pointer;
    margin-top: 8px;
  }
  .btn-primary,.btn-primary:active{
    color: #FFF;
    background: #082341;
  }

  .btnArea{
    display: flex;
    justify-content: start;
    margin-left: 130px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .pgbackBtn{
    margin-right: 15px;
  }

  @media (max-width:576px){
    .smTop{
      margin-top: 1.5rem !important;
    }

    .btnArea{
      margin-left: 0px;
    }
  }

  @media (max-width:768px){
    .wholesmTop{
      margin-top: 1.5rem !important;
    }

    .btnArea{
      margin-left: 0px;
    }
  }
  