.dateplace {
  margin-right: 5px;
}
.pglbl, .inptxt, .lblText, .tabFont, .rowsPg, .smtransDate, .mdtransDate, .smBalance {
  color: #082341;
  font-weight: 700;
}
.inptxt, .tabFont {
  font-size: 12px;
}
#toDate{
  margin-left: 1.3rem;
}
.pglbl {
  font-size: 16px;
}
.lblText {
  margin: 0rem 1.5rem 1rem 0rem;
  color: #082341;
}
.lablespace {
  margin-top: 7px;
  padding-left: 25px;
}
.tabArea {
  padding: 10px;
} 
.tabFont {
  height: 36px;
  color: #37383a;
  font-size: 12px;
  font-weight: 700;
  text-transform: capitalize;
}
.tabData, .tabHead {
  border: 1px solid #d9d9da;
}
.tabData {
  background: #fff;
}
.tabHead {
  border-collapse: collapse;
  background: #f2f2f2;
}
.eachRow {
  border-bottom: 1px solid #fff;
}
.Pagearea {
  display: flex;
  justify-content: space-between;
}
.lastRow {
  padding-top: 20px;
  border-top: 1.5px solid #d6d6d6;
}
.rowsPg {
  color: #979797;
  font-size: 12px;
  font-weight: 700;
}
.paginationArea {
  height: 55px;
  background: #fff;
  padding: 1px;
  cursor: pointer;
}
.pgNo {
  padding: 8.5px;
}
.form-check-input {
  border: 1px solid var(--Neutral-Colors-Light-Gray, #C3C2CC);
  background: var(--Primary-White, #FFF);
  cursor: pointer;
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none !important;
  margin-top: 8px;
}
.form-check-input:checked {
  border: 5px solid var(--Brand-Primary-Colors-Evoke-Blue-Evoke-Blue, #1B154C);
}
select:focus, .form-check-input:not(:checked) {
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none !important;
  border: 1px solid var(--Neutral-Colors-Light-Gray, #C3C2CC);
}
.backbtn {
  margin-right: 15px;
}
.bottom-buttons {
  text-align: center;
  margin: 35px 0 20px;
}
.smwithDrawal, .mdwithDrawal {
  color: #D31B03;
  font-size: 12px;
  font-weight: 700;
  padding-right: 1rem;
}
.smDeposit, .mdDeposit {
  color: #3D8300;
  font-size: 12px;
  font-weight: 700;
  padding-right: 1rem;
}
.smtransDate, .mdtransDate {
  color: #082341;
  font-size: 12px;
  font-weight: 700;
}
.smtransRemarks, .mdtransRemarks {
  color: #494848;
  font-size: 10px;
  font-weight: 500;
}
.smBalance {
  padding-top: 1.5rem;
}
  @media (max-width:576px) {
    .smTop {
      margin-top: 1.5rem;
    }
  }
  